.additional__title {
  @include font(24px, 24px, normal);
  margin: 0;
  padding: 0 20px 34px;

  @media (min-width: $tablet-width) {
    @include font(36px, 36px, normal);
    background-color: $basic-light;
    max-width: fit-content;
    padding: 0 36px 80px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-left: -36px;
  }
}

.additional__wrapper {
  margin-bottom: 36px;
  padding: 0 20px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-areas:
      "title title"
      "goods promo";
    grid-template-columns: 1fr auto;
    width: 1220px;
  }
}

.additional__list {
  @include reset-list;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    width: 895px;
    grid-area: goods;
  }
}

.additional__item {
  border-bottom: 1px solid $special-grey;
  padding: 14px 0 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 26px 38px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    column-gap: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
    padding: 15px 0 17px;
  }
}

.additional__link {
  color: $secondary-dark3;
  text-decoration: none;

  &:focus {
    outline: 1px dotted $secondary-dark3;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.additional__name {
  @include font(16px, 16px, normal);
  margin: 0;
  padding: 0 0 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, normal);
    margin: 0;
    padding: 0 0 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px 0 0;
  }
}

.additional__description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 70px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 0;
  }
}

.additional__key,
.additional__value {
  @include font(14px, 14px, normal);
  color: $secondary-dark;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    @include font(16px, 20px, normal);
  }
}

.additional__value {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional__button {
  @media (min-width: $desktop-width) {
    grid-area: unset;
    margin-top: 0;
    width: unset;
  }
}
