.additional__title {
  @include font(24px, 24px, normal);
  margin: 0;
  padding: 0 20px 35px 0;
  background-color: $basic-light;
  max-width: fit-content;

  @media (min-width: $tablet-width) {
    @include font(36px, 36px, normal);
    padding: 0 36px 79px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-left: -36px;
  }
}

.additional__wrapper {
  margin-bottom: 35px;
  padding: 0 20px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "title title"
      "goods promo";
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    padding: 0;
    width: 1220px;
  }
}

.additional__list {
  @include reset-list;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    grid-area: goods;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    width: 895px;
  }
}

.additional__item {
  border-bottom: 1px solid $special-grey;
  padding: 13px 0 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "link desc"
      "btn btn";
    grid-template-columns: 1fr 250px;
    column-gap: 50px;
    padding: 25px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    column-gap: 32px;
    display: grid;
    grid-template-areas: "link desc btn";
    grid-template-columns: 1fr 1fr 244px;
    padding: 16px 0 15px;
  }
}

.additional__link {
  color: $secondary-dark3;
  text-decoration: none;

  &:focus {
    outline: 1px dotted $secondary-dark3;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
    grid-area: link;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    max-width: 190px;
  }
}

.additional__name {
  @include font(16px, 16px, normal);
  margin: 0;
  padding: 0 0 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, normal);
    margin: 0;
    padding: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px 0 0;
  }
}

.additional__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: flex-end;
    grid-area: desc;
  }

  @media (min-width: $desktop-width) {
    column-gap: 85px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 0;
  }
}

.additional__key,
.additional__value {
  @include font(14px, 14px, normal);
  color: $secondary-dark;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    @include font(16px, 20px, normal);
  }
}

.additional__key {
  max-width: 118px;

  @media (min-width: $tablet-width) {
    max-width: 135px;
  }
}

.additional__value {
  max-width: 54px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    max-width: 50px;
    min-width: 44px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: left;
  }
}

.additional__button {
  @media (min-width: $tablet-width) {
    grid-area: btn;
  }

  @media (min-width: $desktop-width) {
    grid-area: initial;
    margin-top: 0;
    width: unset;
  }
}
