.button {
  border-style: none;
  background-color: $basic-green;
  color: $basic-light;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
