.button {
  @include font(16px, 20px, normal);
  border-style: none;
  background-color: $basic-green;
  color: $basic-light;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 10px 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;

  &:hover {
    background-color: $basic-green-hover;
  }

  &:active {
    color: $basic-light-active;
  }
}
