.cat-slider {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey2;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    background-color: unset;
  }
}

.cat-slider__button {
  @include font(16px, 18px, normal);
  border-style: none;
  cursor: pointer;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.cat-slider__list {
  @include reset-list;
  margin-bottom: 23px;
}
