.cat-slider {
  @media (min-width: $desktop-width) {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    z-index: 0;
  }
}

.cat-slider__wrapper {
  padding: 0 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0 0 67px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    padding: 0 0 64px;
    max-width: 640px;
  }
}

.cat-slider__button {
  @include font(16px, 18px, normal);
  border-style: none;
  cursor: pointer;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  padding: 0 0 6px;

  &:hover {
    border-bottom: 1px solid rgba($basic-dark, 0.4);
  }

  &:active,
  &:focus {
    border-color: transparent;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, auto, normal);
    border-bottom: 1px dotted $special-grey;
    padding: 0 0 6px;
  }
}

.cat-slider__range-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    max-width: 640px;
  }
}

.cat-slider__scale {
  background-color: $basic-light;
  border: 1px solid $special-grey;
  border-radius: 6px;
  height: 14px;
  margin: 5px 12px;
  position: relative;
  width: 84px;

  @media (min-width: $tablet-width) {
    background-color: $special-grey;
    border-style: none;
    height: 6px;
    width: 428px;
  }
}

.cat-slider__bar {
  @media (max-width: $mobile-width-only) {
    background-color: $basic-green;
    border-radius: 6px;
    height: 6px;
    margin-top: 4px;
    width: 35px;

    &--before {
      margin-left: 6px;
    }

    &--after {
      float: right;
      margin-right: 6px;
    }
  }
}

.cat-slider__toggle {
  box-shadow: 0 1px 3px rgba($basic-dark, 0.16);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px rgba($basic-dark, 0.16);
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 3px 5px rgba($basic-dark, 0.16);
  }

  &-circle:active {
    stroke: $basic-green;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    left: calc(50% - 17px);
    top: -16px;
  }
}

.cat-slider__list {
  @include reset-list;
  padding-bottom: 23px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 708px;
    justify-content: center;
    margin: 0 auto 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 690px;
    margin: 0;
  }
}

.cat-slider__item {
  display: none;

  &--active {
    display: block;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 50%;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    width: 56%;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      width: 43%;
      z-index: 1;
    }

    @media (min-width: $desktop-width) {
      width: 45%;
    }
  }
}

.cat-slider__image {
  text-align: center;
  display: inline-block;
  width: auto;

  @media (min-width: $tablet-width) {
    height: 530px;
    margin-left: 0;
  }
}
