.catalog__list {
  @include reset-list;
}

.catalog__item {
  border-bottom: 1px solid $basic-grey;
  padding-top: 19px;
  padding-bottom: 25px;
}

.catalog__button {
  margin-top: 17px;
}

.catalog__button--show-more {
  background-color: $basic-grey3;
  color: $secondary-dark;
  padding: 10px 0 10px;
  width: 280px;
}
