.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    width: 1220px;
  }
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    column-gap: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 68px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
  }
}

.catalog__item {
  border-bottom: 1px solid $special-grey3;
  padding: 20px 20px 25px;

  &:first-child {
    border-top: 1px solid $basic-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: $tablet-width) {
    border-style: none;
    box-sizing: border-box;
    padding: 0 38px 40px;
    width: 324px;

    &:not(:last-child) {
      background: linear-gradient(to bottom, transparent 15%, $basic-grey2 15% 100%);
    }

    &:last-child {
      background-color: none;
      border: 2px solid $basic-grey2;
      margin-top: 74px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &:last-child {
      margin-top: 78px;
      padding: 0 36px 38px;
    }
  }
}

.catalog__button {
  grid-area: btn;
  width: 100%;

  &--show-more {
    background-color: $basic-grey2;
    color: $secondary-dark;
    padding: 10px 0 10px;

    &:hover {
      background-color: $special-grey3;
    }

    &:active {
      color: rgba($secondary-dark, 0.3);
    }
  }
}

.catalog__additional-wrapper {
  margin: 25px 0 30px;

  @media (min-width: $tablet-width) {
    margin: 68px 0;
    position: relative;
    width: 100%;

    &::after {
      background-color: $basic-green;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 20px;
      width: 100%;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 24px;
    }
  }
}
