.direction {
  background-color: $basic-grey2;
  padding: 30px 20px 22px 18px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    top: 24px;
    left: 22px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 90px;
      left: calc(50% + 92px);
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--pro::after {
    background-image: url("../img/icon-pro.svg");
    width: 67px;
    height: 50px;
    top: 24px;
    left: 12px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      top: 90px;
      left: calc(50% + 60px);
    }

    @media (min-width: $desktop-width) {
      width: 135px;
      height: 101px;
      top: 46px;
      left: 32px;
    }
  }

  &--slim::after {
    background-image: url("../img/icon-slim.svg");
    top: 22px;
    left: 22px;
    width: 50px;
    height: 53px;

    @media (min-width: $tablet-width) {
      width: 201px;
      height: 212px;
      top: 80px;
      left: calc(50% + 93px);
    }

    @media (min-width: $desktop-width) {
      width: 101px;
      height: 107px;
      top: 42px;
      left: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 75px 62px 62px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 50px 64px;
  }
}

.direction__title {
  @include font(24px, 36px, normal);
  margin: 0;
  max-width: 140px;
  word-wrap: break-word;
  padding-bottom: 30px;
  padding-left: 72px;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(36px, 36px, normal);
    padding: 0 0 26px;
    max-width: 230px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 0 0 162px;
  }
}

.direction__description {
  border-bottom: 1px solid $basic-grey;
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    @include font(16px, 24px, normal);
    border-style: none;
    padding-bottom: 56px;
    width: 377px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 34px 0;
    width: 467px;
  }
}

.direction__link {
  @include font(16px, 16px, normal);
  color: $basic-dark;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;

  &:focus {
    outline: 1px dotted $secondary-dark3;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 1, normal);
  }
}

.direction__link-text {
  max-width: 175px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 27px;
  }
}

.direction--pro .direction__description {
  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
  }
}

.direction__arrow {
  transition: transform 0.2s ease;
  transform-origin: center left;
}

.direction__link:hover .direction__arrow {
  transform: scaleX(1.3);
}
