.direction__title {
  @include font(24px, 37px, normal);
  margin: 0;
  text-transform: uppercase;
}

.direction__description {
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
}

.direction__link {
  @include font(16px, 16px, normal);
  color: $basic-dark;
  text-decoration: none;
  text-transform: uppercase;
}
