.example {
  background-color: $basic-grey2;
}

.example__wrapper {
  padding-top: 27px;
  padding-bottom: 25px;
}

.example__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 33px;
}

.example__text {
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  margin-bottom: 25px;
}

.example__number {
  @include font(24px, 24px, normal);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.example__description {
  @include font(12px, 12px, normal);
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  margin-bottom: 21px;
}

.example__expenses-text {
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.example__expenses {
  margin-bottom: 42px;
}
