.features__wrapper {
  margin-bottom: 23px;
  padding: 0 20px 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $basic-grey;
    padding: 0 30px 56px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    border-style: none;
    margin: 0 auto;
    padding: 0;
    width: 1220px;
  }
}

.features__title {
  @include font(36px, 40px, normal);
  margin: 0;
  padding: 0 0 38px;

  @media (min-width: $tablet-width) {
    @include font(60px, 60px, normal);
    padding: 0 0 72px;
  }
}

.features__list {
  @include reset-list;
  color: $secondary-dark;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  justify-content: space-between;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    width: 82vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 135px;
    row-gap: 90px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 78px;
    grid-template-columns: repeat(4, 1fr);
    width: 1220px;
  }
}

.features__item {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font (16px, 24px, normal);
    flex-direction: column;
    padding-left: 0;

    &::before {
      @include font (280px, 1, normal);
      font-family: "Oswald", "Arial", sans-serif;
      color: $basic-grey2;
      position: absolute;
      counter-increment: section;
      content: counter(section);
      z-index: -1;
      top: -38px;
      left: 110px;
    }
  }
}

.features__text {
  margin: 0;
  padding-left: 20px;
  min-height: 54px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    padding-left: 0;
    padding-bottom: 44px;
    width: 32vw;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.features__icon-wrapper {
  background-color: $basic-green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin: 0;
  }
}
