.features__wrapper {
  margin-top: 27px;
  margin-bottom: 42px;
}

.features__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
}

.features__list {
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  list-style: none;
  padding: 0;
}

.features__item {
  margin-bottom: 20px;
}

.features__item:last-child {
  margin-bottom: 0;
}
