.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.main-nav__toggle {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  height: 18px;
  padding: 0;
  position: absolute;
  right: 23px;
  top: -40px;
  width: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    background-color: $basic-dark;
    content: "";
    height: 2px;
    position: absolute;
    top: 9px;
    right: 0;
    width: 25px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    background-color: $basic-dark;
    box-shadow: 0 8px 0 0 $basic-dark, 0 16px 0 0 $basic-dark;
    content: "";
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
  }

  &::after {
    background-color: transparent;
    content: "";
    height: 18px;
    position: absolute;
    right: 23px;
    top: -43px;
    width: 24px;
  }
}

.main-nav--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}
