.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.main-nav__toggle {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  height: 18px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: -44px;
  width: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/toggle-cross.svg");
  background-repeat: no-repeat;
  height: 20px;
  right: 23px;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/toggle-burger.svg");
  background-repeat: no-repeat;
  height: 18px;
  width: 24px;
}

.main-nav--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}
