.main-nav__toggle {
  border-style: none;
  cursor: pointer;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 23px;
  right: 23px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav {
  @media (min-width: $tablet-width) {
    align-self: center;
    margin-left: auto;
  }
}
