.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42px;
  }
}

.page-header__logo {
  height: 38px;
  padding-top: 12px;
  padding-bottom: 16px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
