.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey2;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__contacts {
  background-color: $basic-light;
  display: flex;
  justify-content: space-between;
  padding: 27px 20px;

  &--grey {
    background-color: $basic-grey2;
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      background-color: $basic-light;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 64px 70px 58px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin-left: -610px;
    margin-top: 95px;
    left: 50%;
    padding: 65px 88px 62px 75px;
    position: absolute;
    top: 0;
    width: 570px;
    height: 200px;
    overflow-y: scroll;
  }
}

.page-footer__proposal {
  @include font(16px, 21px, normal);
  color: $secondary-dark2;
  margin: 0 15px 0 0;
  text-transform: uppercase;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    @include font(20px, 25px, normal);
    width: 172px;
    max-width: 200px;
  }
}

.page-footer__address {
  @include font(14px, 20px, normal);
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  font-style: normal;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    @include font(16px, 20px, normal);
    text-align: right;
    width: 160px;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.page-footer__city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 18px;
  }
}

.page-footer__map {
  border-style: none;
  display: block;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__link-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 37px 20px 28px;
  background-color: $basic-grey2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 57px 0 58px;
    width: 1220px;
  }
}

.page-footer__logo-wrapper {
  border-bottom: 1px solid $basic-grey;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 0 28px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-style: none;
    width: auto;
  }
}

.page-footer__logo {
  &:focus {
    outline: 1px dotted $secondary-dark3;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-wrapper {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__social-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 130px;
  max-width: 180px;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    max-width: 190px;
    justify-content: flex-end;
  }
}

.page-footer__social-item {
  &:not(:nth-child(3)) {
    margin-right: 35px;

    @media (min-width: $tablet-width) {
      margin-right: 25px;
    }
  }
}

.page-footer__copyright-wrapper {
  padding: 20px 0 0;
  width: 100%;
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-style: none;
    width: auto;
  }
}

.page-footer__copyright {
  @include font(16px, 1, normal);
  color: $secondary-dark;

  text-decoration: none;
  display: flex;
  align-items: center;

  justify-content: space-between;


  &:focus {
    outline: 1px dotted $secondary-dark3;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.page-footer__copyright-text {
  font-family: "Arial", sans-serif;
}

.page-footer__copyright:hover .page-footer__copyright-text {
  opacity: 0.8;
}

.page-footer__copyright:active .page-footer__copyright-text {
  opacity: 0.6;
}

.page-footer__copyright:hover .page-footer__copyright-icon {
  fill: $basic-green;
}

.page-footer__copyright:active .page-footer__copyright-icon {
  fill: $basic-green;
  opacity: 0.3;
}

.page-footer__copyright-icon {
  fill: $secondary-dark4;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.page-footer__social-link:focus {
  outline: 1px dotted $secondary-dark3;
}

.page-footer__social-link:hover .page-footer__social-icon {
  fill: $basic-green;
}

.page-footer__social-link:active .page-footer__social-icon {
  fill: $basic-green;
  opacity: 0.3;
}

.page-footer__social-icon {
  fill: $secondary-dark4;

  @media (min-width: $tablet-width) {
    &--vkontakte {
      width: 29px;
      height: 17px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 20px;
      height: 29px;
    }
  }
}
