.page-footer__wrapper {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    position: relative;
  }
}

.page-footer__contacts {
  background-color: $basic-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    padding: 62px 89px 51px 76px;
    width: 570px;
  }
}

.page-footer__proposal {
  @include font(16px, 18px, normal);
  color: $secondary-dark2;
  text-transform: uppercase;
}

.page-footer__address {
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
}

.page-footer__map {
  border-style: none;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__links-container {
  background-color: $basic-grey3;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__social-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 131px;
}

.page-footer__copyright {
  @include font(16px, auto, normal);
  color: $secondary-dark;
  text-decoration: none;
}
