.page-main__header {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.page-main__header-title {
  @include font(36px, 36px, normal);
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 56px;
  }
}

.page-main__header-text {
  margin: 0;
  text-transform: uppercase;
}

.page-main__title {
  @include font(36px, 36px, normal);
  border-bottom: 1px solid $basic-grey;
  margin: 28px 0 0;
  padding: 0 0 40px;
}
