.page-main__header {
  padding-top: 27px;
}

.page-main__header-title {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}

.page-main__header-text {
  text-transform: uppercase;
  margin: 0;
}
