.page-main__header {
  padding: 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0;

    &--padding-bigger {
      padding: 0 70px 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    padding: 0;
    width: 1220px;
  }
}

.page-main__text {
  @include font(14px, 18px, normal);
  margin: 0;
  text-transform: uppercase;
  width: 72vw;

  @media (min-width: $tablet-width) {
    @include font(20px, 30px, normal);
    width: 350px;
  }
}

.page-main__title {
  @include font(36px, 36px, normal);
  margin: 0;
  padding: 27px 0 39px;
  width: 280px;

  &--no-border {
    border-style: none;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $tablet-width) {
    @include font(60px, 60px, normal);
    border-style: none;
    padding: 62px 0 54px;
    width: 450px;

    &--padding-big {
      padding-bottom: 90px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0 56px;
    margin: 0 auto;
    width: 1220px;

    &--padding-big {
      padding-bottom: 86px;
    }
  }
}
