.page-footer__wrapper {
  margin-top: 22px;
}

.page-footer__contacts {
  background-color: $basic-grey3;
}

.page-footer__proposal {
  @include font-size(16px, 18px, normal);
  color: $secondary-dark2;
  text-transform: uppercase;
}

.page-footer__address {
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
}

.page-footer__map {
  border-style: none;
}

.page-footer__links-container {
  background-color: $basic-grey3;
  padding-bottom: 28px;
}

.page-footer__social-list {
  @include reset-list;
}

.page-footer__copyright {
  @include font-size(16px, auto, normal);
  color: $secondary-dark;
  text-decoration: none;
}
