.page-header__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 24px;
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    padding: 0 110px 0;
  }
}

.page-header__logo {
  align-items: center;
  display: flex;
  height: 38px;
  justify-content: space-between;
  padding: 12px 20px 16px;
  text-decoration: none;
  width: 60%;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
    width: 202px;
  }
}
