.page-header {
  @media (min-width: $desktop-width) {
    &::before {
      background: linear-gradient(rgba(($basic-green), 0.85), rgba(($basic-green), 0.85)), url("../img/index-promo-bg.jpg") 35% / cover;
      content: "";
      height: 694px;
      position: absolute;
      right: 0;
      top: 0;
      width: 720px;
      z-index: -1;
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 24px;
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    padding: 0 110px 0;
  }
}

.page-header__logo {
  height: 38px;
  margin: 0 auto 0;
  padding-top: 12px;
  padding-bottom: 16px;
  text-decoration: none;
  width: 93%;

  @media (min-width: $tablet-width) {
    height: 54px;
    margin: 0;
    padding: 0;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}
