.product-card {
  align-items: center;
  display: grid;
  grid-template-areas:
    "img title"
    "img desc"
    "btn btn";
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "img"
      "title"
      "desc"
      "btn";
    grid-template-columns: 1fr;
  }
}

.product-card__link-name {
  color: $secondary-dark3;
  grid-area: title;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__name {
  @include font(16px, 20px, normal);
  margin: 0;
  max-width: 80px;
  padding: 0 0 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 24px, normal);
    margin: 0 auto;
    max-width: 155px;
    text-align: center;
    padding-bottom: 0 0 18px;
  }

  @media (min-width: $desktop-width) {
    width: 145px;
  }
}

.product-card__link-image {
  grid-area: img;
  justify-self: center;
}

.product-card__image {
  @media (min-width: $tablet-width) {
    padding: 0 0 34px;
    height: auto;
    width: auto;

    &--small {
      padding-top: 28px;

      @media (min-width: $desktop-width) {
        padding-top: 30px;
      }
    }
  }
}

.product-card__description-list {
  @include font(12px, 16px, normal);
  grid-area: desc;
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0 0 22px;

  @media (min-width: $tablet-width) {
    @include font(16px, 16px, normal);
    margin: 0 auto 0;
    padding-bottom: 32px;
  }
}

.product-card__description-item {
  column-gap: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    column-gap: 147px;
    padding-bottom: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $special-grey;
      width: 100%;
      bottom: 4px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    column-gap: 65px;
  }
}

.product-card__key,
.product-card__value {
  @include reset-list;
}

.product-card__value {
  text-align: right;
}
