.programs__wrapper {
  display: grid;
  grid-template-rows: auto auto;
  margin: 200px 20px 0;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    margin: 200px 30px 0;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin: 200px 110px 0;
    column-gap: 80px;
  }
}

.programs__direction {
  background-color: $basic-grey3;
  padding: 30px 20px 22px 18px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 57px;
  }
}
