.programs__wrapper {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0 0 28px;
  padding: 0 20px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px;
    padding: 0 30px;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto;
    margin: 0 auto 70px;
    padding: 0;
    column-gap: 80px;
    row-gap: 0;
    max-width: 1220px;
  }
}

.programs__direction {
  background-color: $basic-grey2;
  padding: 30px 20px 22px 18px;
  position: relative;

  &--pro::before,
  &--slim::before {
    content: "";
    position: absolute;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--pro::before {
    background-image: url("../img/icons/icon-pro.svg");
    width: 67px;
    height: 50px;
    top: 24px;
    left: 12px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      top: 90px;
      left: calc(50% + 58px);
    }

    @media (min-width: $desktop-width) {
      width: 135px;
      height: 100px;
      top: 46px;
      left: 32px;
    }
  }

  &--slim::before {
    background-image: url("../img/icons/icon-slim.svg");
    background-repeat: no-repeat;
    top: 22px;
    left: 22px;
    width: 50px;
    height: 53px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 212px;
      top: 80px;
      left: calc(50% + 92px);
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      top: 42px;
      left: 52px;
    }
  }


  @media (min-width: $tablet-width) {
    padding: 80px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 50px 55px;
  }
}
