.programs__wrapper {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__direction {
  background-color: $basic-grey3;
  padding-top: 30px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 57px;
  }
}
