.promo {
  color: $basic-light;
  position: relative;

  @media (min-width: $tablet-width) {
    background: none;
    color: $basic-dark;
  }

  @media (min-width: $desktop-width) {
    &::before {
      background: linear-gradient(rgba(($basic-green), 0.85), rgba(($basic-green), 0.85)), url("../img/promo-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: 691px;
      position: absolute;
      right: 0;
      top: -142px;
      width: 50vw;
      z-index: -1;
    }
  }
}

.promo__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin: 62px 0 0;
    padding: 0 30px 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 26px auto 134px;
    padding: 0 0 0 80px;
    width: 1220px;
    box-sizing: border-box;
  }
}

.promo__text {
  align-items: center;
  background: linear-gradient(rgba(($basic-green), 0.85), rgba(($basic-green), 0.85)), url("../img/promo-bg-mobile.jpg");
  background-position: 64% top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 302px;
  width: 100%;
  word-wrap: break-word;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(($basic-green), 0.85), rgba(($basic-green), 0.85)), url("../img/promo-bg-mobile@2x.jpg");
    background-position: center top;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    display: block;
    background: none;
    padding: 0 87px 0;
    max-width: 420px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo__title {
  @include font(36px, 36px, normal);
  margin: 0;
  padding: 27px 0 25px;

  @media (min-width: $tablet-width) {
    @include font(60px, 60px, normal);
    padding: 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.promo__slogan {
  @include font(14px, 14px, normal);
  margin: 0;
  padding-bottom: 30px;
  text-transform: uppercase;
  z-index: 100;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, normal);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 52px;
  }
}

.promo__button {
  @include font(14px, 18px, normal);
  order: 2;
  width: 87vw;
  max-width: 400px;
  padding: 11px 0 11px;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, normal);
    margin: 0 80px 0;
    padding: 16px 26px;
    position: absolute;
    top: 230px;
    width: 192px;
    order: initial;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 26px;
    top: 313px;
    margin: 0;
  }
}

.promo__image {
  display: block;
  margin-top: -135px;

  @media (min-width: $tablet-width) {
    margin-top: -100px;
    height: 609px;
    width: 708px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 499px;
    margin-left: -50px;
    margin-top: 0;
    width: 552px;
  }
}
