.promo {
  background: linear-gradient(rgba(($basic-green), 0.85), rgba(($basic-green), 0.85)), url("../../img/index-promo-bg.jpg") center / cover;
  color: $basic-light;
}

.promo__wrapper {
  padding-top: 27px;
  margin-bottom: 125px;
}

.promo__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 25px;
  text-transform: uppercase;
}
