.promo-stock {
  background-image: url("../img/promo-stock-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-gift.svg");
    width: 58px;
    height: 62px;
    top: 64px;
    left: calc(50% - 29px);

    @media (min-width: $tablet-width) {
      left: 90px;
    }

    @media (min-width: $desktop-width) {
      left: calc(50% - 29px);
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-stock-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/promo-stock-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-stock-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/promo-stock-desktop.jpg");
    height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-stock-desktop@2x.jpg");
    }
  }
}

.promo-stock__wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 290px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    align-items: center;
    flex-direction: row;
    height: 200px;
    justify-content: flex-end;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.promo-stock__text {
  @include font(16px, 20px, normal);
  color: $basic-light;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0 60px 43px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 124px 0 0;
    text-align: left;
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 42px 42px;
    text-align: center;
  }
}
