.promo {
  background: linear-gradient(rgba(($basic-green), 0.85), rgba(($basic-green), 0.85)), url("../img/index-promo-bg.jpg") center / cover;
  color: $basic-light;

  @media (min-width: $tablet-width) {
    background: none;
    color: $basic-dark;
  }
}

.promo__wrapper {
  margin-top: 75px;
  padding: 27px 20px 0;
  position: relative;
  text-align: center;
  height: 302px;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
    padding: 0 112px 0;
    text-align: left;
    height: unset;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
    margin-bottom: 82px;
    padding: 0 110px 0;
  }
}

.promo__title {
  @include font(36px, 36px, normal);
  margin: 0;
}

.promo__slogan {
  @include font(14px, 14px, normal);
  margin: 25px 0 0;
  text-transform: uppercase;
}

.promo__button {
  display: inline-block;
  margin-top: 138px;
  position: absolute;
  left: calc(50vw - 140px);
  width: 244px;

  @media (min-width: $tablet-width) {
    margin-top: 49px;
    left: 112px;
  }
}
