.select-program__wrapper {
  margin: 38px 0 32px;

  @media (min-width: $tablet-width) {
    margin: 66px 0 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 64px 0 72px;
  }
}

.select-program__fieldset {
  border-style: none;
  padding: 0;
  position: relative;
  margin: 0;

  &--green-line {
    &::after {
      background-color: $basic-green;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 16px;
      width: 100%;
      z-index: -1;

      @media (min-width: $tablet-width) {
        top: 22px;
      }
    }
  }

  &--grey-border {
    border-bottom: 1px solid $special-grey3;
    border-top: 1px solid $special-grey3;
    padding: 22px 0 18px;

    @media (min-width: $tablet-width) {
      border: 1px solid $special-grey3;
      margin: 0 70px 0;
      padding: 27px 28px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 31px 28px 26px;
    }
  }
}

.select-program__fieldset--additional .select-program__control-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    column-gap: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 31px;
    width: 74vw;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    column-gap: 103px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: unset;
    width: 1200px;
  }
}

.select-program__fieldset--additional .select-program__control-item {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 222px;
  }
}

.select-program__fieldset-wrapper {
  padding: 0 20px 0;
  margin-bottom: 21px;

  &--no-indentation {
    margin: 0;
  }

  &--margin-less {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px 0;
    margin-bottom: 70px;

    &--no-indentation {
      padding: 0;
      margin: 0;
    }

    &--margin-less {
      margin-bottom: 63px;
    }

    &--no-margin {
      margin-bottom: 0;
    }

    &--contacts {
      margin-bottom: 63px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto 69px;
    width: 1220px;

    &--auto-width {
      width: auto;
      margin-bottom: 0;
    }

    &--contacts {
      margin-bottom: 48px;
    }

    &--no-margin {
      margin-bottom: 0;
    }

    &--margin-less {
      margin-bottom: 65px;
    }
  }
}

.select-program__fieldset--additional .select-program__fieldset-wrapper {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.select-program__fieldset-group {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    column-gap: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 1220px;
    padding-bottom: 67px;
  }
}

.select-program__control-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    &--contacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}

.select-program__control-item {
  padding-bottom: 11px;
  position: relative;
  display: flex;

  &--contacts {
    padding-bottom: 10px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;

    &--radio {
      padding-bottom: 15px;
    }

    &--contacts {
      margin-left: -3px;
      padding-bottom: 19px;
    }

    &--checkbox {
      grid-template-columns: auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;

    &--contacts:last-child {
      padding-bottom: 18px;
    }

    &--radio {
      padding-bottom: 20px;
    }

    &--contacts {
      margin-left: 0;
    }

    &--checkbox {
      grid-template-columns: auto;
    }
  }
}

.select-program__title {
  @include font(24px, 26px, normal);
  background-color: $basic-light;
  display: inline-block;
  margin: 0;
  max-width: 187px;
  padding: 0 20px;
  vertical-align: middle;
  width: auto;

  @media (min-width: $tablet-width) {
    @include font(36px, 36px, normal);
    display: block;
    margin-left: 30px;
    min-width: fit-content;
    max-width: auto;
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.select-program__title-wrapper {
  margin: 0;
  width: 100%;
  padding: 0 0 36px;

  &--padding-less {
    padding: 0 0 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 75px;

    &--padding-less {
      padding: 0 0 57px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;

    &--padding-less {
      padding: 0 0 57px;
    }
  }
}

.select-program__label {
  @include font(16px, 18px, normal);
  color: $secondary-dark;
  text-transform: uppercase;
  max-width: 130px;
  align-self: center;
  flex-grow: 0;

  @media (min-width: $tablet-width) {
    @include font(20px, 1, normal);
    max-width: 170px;
  }
}

.select-program__text-input {
  @include placeholder;
  @include font(16px, 18px, normal);
  color: $secondary-dark;
  text-transform: uppercase;
  border: 2px solid transparent;
  box-sizing: border-box;
  margin-left: 12px;
  outline: 1px solid $special-grey3;
  outline-offset: -2px;
  padding: 11px 16px;
  height: 48px;
  width: 100px;
  flex-grow: 1;

  &--email,
  &--phone {
    margin-left: 9px;
    padding: 12px 42px 14px 14px;
  }

  &:hover {
    outline-color: $special-grey;
  }

  &:focus {
    outline: 2px solid $secondary-dark;
  }

  &--invalid {
    outline-color: $status-error;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 1, normal);
    margin-left: 17px;
    padding: 14px 18px;
    height: 54px;

    &--email {
      padding: 10px 50px 10px 21px;
      margin-right: -5px;
      margin-left: 21px;
    }

    &--phone {
      margin-right: -5px;
      margin-left: 15px;
      padding: 10px 54px 10px 21px;
    }
  }

  @media (min-width: $desktop-width) {
    &--email {
      margin-left: 22px;
      padding: 10px 50px 10px 16px;
      margin-right: 0;
    }

    &--phone {
      margin-left: 12px;
      margin-right: 0;
      padding: 10px 54px 10px 19px;
    }
  }
}

.select-program__icon {
  position: absolute;
  fill: $secondary-dark3;

  &--email {
    right: 14px;
    top: 15px;

    @media (min-width: $tablet-width) {
      top: 19px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      right: 18px;
    }
  }

  &--phone {
    right: 12px;
    top: 14px;

    @media (min-width: $tablet-width) {
      top: 15px;
      right: 13px;
    }

    @media (min-width: $desktop-width) {
      right: 18px;
      top: 16px;
    }
  }
}

.select-program__text-input:focus + .select-program__icon {
  fill: $basic-green;
}

.select-program__text-input--invalid + .select-program__icon {
  fill: $status-error;
}

.select-program__textarea {
  @include placeholder;
  @include font(16px, 24px, normal);
  color: $secondary-dark;
  border: 2px solid transparent;
  box-sizing: border-box;
  height: 155px;
  outline: 1px solid $special-grey3;
  outline-offset: -2px;
  width: 100%;
  padding: 8px 12px;
  resize: none;
  text-transform: uppercase;

  &:hover {
    outline-color: $special-grey;
  }

  &:focus {
    outline: 2px solid $secondary-dark;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 24px, normal);
    height: 174px;
    padding: 13px 17px;
  }
}

.select-program__button-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 82px;
    width: 1220px;
  }
}

.select-program__button {
  padding: 10px 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, normal);
    padding: 16px 0;
    width: 283px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    width: 568px;
  }
}

.select-program__legend {
  @include font(14px, 16px, normal);
  font-family: "Arial", sans-serif;
  margin: 21px 0 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(16px, 16px, normal);
    margin: -2px 0 0 62px;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 82px;
  }
}

.select-program__label--radio {
  padding: 7px 0 6px 44px;
  position: relative;
  max-width: 240px;

  &::before {
    border: 1px solid $special-grey;
    border-radius: 50%;
    content: "";
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;

    @media (min-width: $tablet-width) {
      top: -2px;
      height: 38px;
      width: 38px;
    }
  }

  .select-program__radio:hover + &::before {
    border: 1px solid $basic-grey3;
  }

  .select-program__radio:focus + &::before {
    box-shadow: 0 1px 3px rgba($secondary-dark3, 0.3);
  }

  .select-program__radio:checked + &::after {
    background-color: $basic-green;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 12px;

    @media (min-width: $tablet-width) {
      height: 18px;
      width: 18px;
      top: 9px;
      left: 11px;
    }
  }

  .select-program__radio:disabled + & {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 9px 0 9px 60px;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 7px 59px;
  }
}

.select-program__label--checkbox {
  position: relative;
  padding: 7px 0 7px 44px;

  &::before {
    border: 1px solid $special-grey;
    content: "";
    height: 28px;
    left: 0;
    position: absolute;
    width: 28px;
    top: 0;

    @media (min-width: $tablet-width) {
      top: 0;
      height: 38px;
      width: 38px;
    }
  }

  .select-program__checkbox:hover + &::before {
    border: 1px solid $basic-grey3;
  }

  .select-program__checkbox:focus + &::before {
    box-shadow: 0 1px 3px rgba($secondary-dark3, 0.3);
  }

  .select-program__checkbox:checked + &::after {
    background-image: url("../img/icon-checkbox.svg");
    content: "";
    height: 14px;
    left: 6px;
    position: absolute;
    top: 8px;
    width: 18px;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 11px;
    }
  }

  .select-program__checkbox:disabled + & {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0 11px 58px;
    word-wrap: break-word;
  }
}
