.select-program__wrapper {
  margin: 36px 0 32px;

  @media (min-width: $tablet-width) {
    margin: 66px 0 72px;
  }
}

.select-program__fieldset {
  border-style: none;
  margin-bottom: 24px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    &--additional {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    &--additional {
      margin-bottom: 60px;
    }
  }
}

.select-program__fieldset-wrapper {
  padding: 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px 0;

    &--no-padding {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    width: 1220px;

    &--auto-width {
      width: auto;
    }
  }
}

.select-program__fieldset-group {
  @media (min-width: $desktop-width) {
    align-items: center;
    column-gap: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 1220px;
  }
}

.select-program__fieldset--grey-border {
  border-bottom: 1px solid $special-grey3;
  border-top: 1px solid $special-grey3;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-grey3;
    margin: 0 70px 70px;
    padding: 25px 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 65px;
  }
}

.select-program__control-list {
  @include reset-list;
}

.select-program__control-item {
  align-items: center;
  display: flex;
  margin-bottom: 14px;

  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--no-margin-bottom {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.select-program__title {
  @include font(24px, 26px, normal);
  background-color: $basic-light;
  display: inline-block;
  margin: 0;
  max-width: 187px;
  padding: 0 18px 33px 20px;
  vertical-align: middle;
  width: auto;

  @media (min-width: $tablet-width) {
    @include font(36px, 36px, normal);
    display: block;
    margin-left: 30px;
    max-width: fit-content;
    padding: 0 40px 76px;

    &--padding-less {
      padding: 0 40px 56px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.select-program__title-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  &::after {
    background-color: $basic-green;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 100%;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 20px;
    }
  }
}

.select-program__label {
  @include font(16px, 18px, normal);
  color: $secondary-dark;
  max-width: 120px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    @include font(20px, 1, normal);
  }
}

.select-program__text-input {
  @include placeholder;
  border: 2px solid transparent;
  box-sizing: border-box;
  height: 45px;
  margin-left: 12px;
  outline: 1px solid $special-grey3;
  outline-offset: -2px;
  padding: 14px;
  width: 100%;

  &:hover {
    outline-color: $special-grey;
  }

  &:focus {
    outline: 2px solid $secondary-dark;
  }

  &--invalid {
    border-color: $status-error;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-left: 20px;
  }
}

.select-program__icon {
  position: absolute;
  right: 13px;
  fill: $secondary-dark3;
}

.select-program__text-input:focus + .select-program__icon {
  fill: $basic-green;
}

.select-program__text-input--invalid + .select-program__icon {
  fill: $status-error;
}

.select-program__textarea {
  @include placeholder;
  border: 2px solid transparent;
  box-sizing: border-box;
  height: 150px;
  outline: 1px solid $special-grey3;
  outline-offset: -2px;
  width: 100%;
  padding: 10px;

  resize: none;

  &:hover {
    outline-color: $special-grey;
  }

  &:focus {
    outline: 2px solid $secondary-dark;
  }

  @media (min-width: $tablet-width) {
    height: 174px;
  }
}

.select-program__button-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 34px 20px 0;

  @media (min-width: $tablet-width) {
    align-items: baseline;
    flex-direction: row;
    margin: 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 48px 110px 82px;
  }
}

.select-program__button {
  padding: 10px 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, normal);
    padding: 15px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    width: 568px;
  }
}

.select-program__legend {
  @include font(14px, 16px, normal);
  font-family: "Arial", sans-serif;
  margin: 21px 0 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(16px, 16px, normal);
    margin: 0 0 0 60px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 80px;
  }
}

.select-program__control-list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.select-program__label--radio {
  padding: 6px 0 6px 45px;
  position: relative;

  &::before {
    border: 1px solid $special-grey;
    border-radius: 50%;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;

    @media (min-width: $tablet-width) {
      top: -2px;
      height: 38px;
      width: 38px;
    }
  }

  .select-program__radio:hover + &::before {
    border: 1px solid $basic-grey3;
  }

  .select-program__radio:focus + &::before {
    box-shadow: 0 1px 3px rgba($secondary-dark3, 0.3);
  }

  .select-program__radio:checked + &::after {
    background-color: $basic-green;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 12px;

    @media (min-width: $tablet-width) {
      height: 18px;
      width: 18px;
      top: 9px;
      left: 11px;
    }
  }

  .select-program__radio:disabled + & {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 9px 0 9px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 7px 60px;
  }
}

.select-program__fieldset--additional .select-program__control-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    column-gap: 123px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 32px;
    width: 74vw;
  }

  @media (min-width: $desktop-width) {
    column-gap: 104px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: unset;
  }
}

.select-program__fieldset--additional .select-program__control-item {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 222px;
  }
}

.select-program__label--checkbox {
  position: relative;
  padding: 3px 0 10px 46px;

  &::before {
    border: 1px solid $special-grey;
    content: "";
    height: 29px;
    left: 0;
    position: absolute;
    width: 29px;
    top: 0;

    @media (min-width: $tablet-width) {
      top: 0;
      height: 40px;
      width: 40px;
    }
  }

  .select-program__checkbox:hover + &::before {
    border: 1px solid $basic-grey3;
  }

  .select-program__checkbox:focus + &::before {
    box-shadow: 0 1px 3px rgba($secondary-dark3, 0.3);
  }

  .select-program__checkbox:checked + &::after {
    background-image: url("../img/icon-checkbox.svg");
    content: "";
    height: 14px;
    left: 7px;
    position: absolute;
    top: 12px;
    width: 18px;

    @media (min-width: $tablet-width) {
      top: 14px;
      left: 12px;
    }
  }

  .select-program__checkbox:disabled + & {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 0 12px 60px;
  }
}
