.show-more {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 0 38 38px;
  }
}

.show-more__icon {
  padding: 5px 0 15px;
  margin: 0 auto;
  stroke-width: 2px;

  @media (min-width: $tablet-width) {
    padding: 51px 0 39px;
    width: 60px;
    height: 60px;
    stroke-width: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 0 38px;
  }
}

.show-more__lead-text {
  @include font(16px, 20px, normal);
  color: $secondary-dark2;
  margin: 10px auto 0;
  padding-bottom: 8px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 22px, normal);
    max-width: 150px;
    padding-bottom: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 22px;
  }
}

.show-more__text {
  @include font(12px, 16px, normal);
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font(16px, 18px, normal);
    max-width: 170px;
    padding-bottom: 83px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 167px;
    padding-bottom: 86px;
  }
}
