.show-more {
  padding: 0 20px 0;

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
  }
}

.show-more__lead-text {
  @include font(16px, 20px, normal);
  color: $secondary-dark2;
}

.show-more__text {
  @include font(12px, 16px, normal);
  color: $secondary-dark;
  font-family: "Arial", sans-serif;
}
