.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $basic-grey;
}

.site-list__link {
  color: $basic-dark;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
