.site-list {
  @include reset-list;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $basic-grey;
}

.site-list__link {
  @include font-size(20px, 20px, 500);
  color: $basic-dark;
  text-decoration: none;
}
