@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $secondary-dark;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  &:-moz-placeholder {
    color: $secondary-dark;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: $secondary-dark;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: $secondary-dark;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
}
