@mixin placeholder {
  &::placeholder {
    color: $secondary-dark;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
