//colors

$basic-light: #ffffff;
$basic-light-active: rgba(255, 255, 255, 0.3);

$basic-grey: #d9d9d9;
$basic-grey2: #f2f2f2;
$basic-grey3: #bababa;

$secondary-grey: #d3d3d3;
$secondary-grey2: #d3d3d3;

$special-grey: #cdcdcd;
$special-grey2: #d9d9d9;
$special-grey3: #e7e7e7;

$basic-dark: #000000;
$basic-dark-active: rgba(0, 0, 0, 0.3);
$secondary-dark: #444444;
$secondary-dark2: #111111;
$secondary-dark3: #222222;
$secondary-dark4: #666666;

$basic-green: #68b738;
$basic-green-hover: #5eaa2f;

$status-error: #ff8282;

// viewports

$tablet-width: 768px;
$desktop-width: 1250px;
$mobile-width-only: 767px;
