//colors
$basic-light: #ffffff;

$basic-grey: #d9d9d9;
$basic-grey2: #eaeaea;
$basic-grey3: #f2f2f2;

$secondary-grey: #d3d3d3;
$secondary-grey2: #d3d3d3;

$special-grey: #cdcdcd;
$special-grey2: #d9d9d9;
$special-grey3: #e7e7e7;

$basic-dark: #000000;
$secondary-dark: #444444;
$secondary-dark2: #111111;
$secondary-dark3: #222222;

$basic-green: #68b738;

// viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
